<h1>Resultado busqueda</h1>



  <style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

<table>
  <thead>
    <tr>
      <th>RBD</th>
      <th>Nombre</th>
      <th>Region</th>
      <th>Comuna</th>
      <th>Dependencia</th>
      <th>Tipo</th>
      <th>Estado apertura</th>
      <th>Fecha solicitud</th>
      <th>Fecha inicio</th>
      <th>Asistencia</th>
      <th>Modo ingreso</th>
      <th>Comentarios</th>
      <th>Ok sostenedor</th>
      <th>Propuesta retorno</th>
      <th>Oficio salud</th>
      <th>Respuesta salud</th>
      <th>Ok salud</th>
      <th>Rex</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <%  @search.search_schools.each do |school| %>
      <tr>
        <td><%= school.rbd %></td>
        <td><%= link_to school.nombre_ee, edit_school_path(school) %></td>
        <td><%= school.region_nom %></td>
        <td><%= school.comuna_nom %></td>
        <td><%= school.dependencia %></td>
        <td><%= school.tipo_ee %></td>
        <td><%= school.estado_apertura %></td>
        <td><%= school.fecha_solicitud %></td>
        <td><%= school.fecha_inicio %></td>
        <td><%= school.asistencia %></td>
        <td><%= school.modo_ingreso %></td>
        <td><%= school.comentarios %></td>
        <td><%= school.ok_sostenedor %></td>
        <td><%= school.propuesta_retorno %></td>
        <td><%= school.oficio_salud %></td>
        <td><%= school.respuesta_salud %></td>
        <td><%= school.ok_salud %></td>
        <td><%= school.rex %></td>
        <td><%= link_to 'Ver', school %></td>
        <td><%= link_to 'Editar', edit_school_path(school) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'En caso de no encontrar, agregar nuevo establecimiento', new_school_path %>
<br>
<%= link_to 'Atrás', new_search_path %>
