<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong>RBD:</strong>
  <%= @school.rbd %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @school.nombre_ee %>
</p>

<p>
  <strong>Region:</strong>
  <%= @school.region_nom %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @school.comuna_nom %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @school.dependencia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @school.tipo_ee %>
</p>

  <div class="field">
    <%= form.label :estado_apertura %>
    <%= form.select :estado_apertura, ['Abierto', 'Suspendido', 'En proceso', 'Con intención de abrir','Nula disposición a abrir'], :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :fecha_solicitud %>
    <%= form.date_select :fecha_solicitud, :required => true %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio %>
    <%= form.date_select :fecha_inicio, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :asistencia %>
    <%= form.number_field :asistencia %>
  </div>

  <div class="field">
    <%= form.label :modo_ingreso %>
    <%= form.select :modo_ingreso, ['Completo', '4 Medio', 'Media', '7 y 8 Basico','1 a 6 Basico','Basica','Parvularia','Por turnos'], :include_blank => true %>
  </div>


  <div class="field">
    <%= form.label :ok_sostenedor %>
    <%= form.select :ok_sostenedor, ['Si', 'No'], :required => true %>
  </div>

  <div class="field">
    <%= form.label :propuesta_retorno %>
    <%= form.select :propuesta_retorno, ['Si', 'No'], :required => true %>
  </div>

  <div class="field">
    <%= form.label :oficio_salud %>
    <%= form.select :oficio_salud, ['Si', 'No'], :required => true %>
  </div>

  <div class="field">
    <%= form.label :respuesta_salud %>
    <%= form.select :respuesta_salud, ['Si', 'No'], :required => true %>
    
  </div>

  <div class="field">
    <%= form.label :ok_salud %>
    <%= form.select :ok_salud, ['Si', 'No'], :required => true %>
  </div>

  <div class="field">
    <%= form.label :rex %>
    <%= form.select :rex, ['Si', 'No'], :required => true %>
  </div>

  <div class="field">
<%= form.label :comentarios %>
<%= form.text_area :comentarios %>
</div>

  <div class="actions">
    <%= form.submit "Actualizar" %>
  </div>
<% end %>


