<p id="notice"><%= notice %></p>

<p>
  <strong>Rbd:</strong>
  <%= @school.rbd %>
</p>

<p>
  <strong>Nombre ee:</strong>
  <%= @school.nombre_ee %>
</p>

<p>
  <strong>Region nom:</strong>
  <%= @school.region_nom %>
</p>

<p>
  <strong>Comuna nom:</strong>
  <%= @school.comuna_nom %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @school.dependencia %>
</p>

<p>
  <strong>Tipo ee:</strong>
  <%= @school.tipo_ee %>
</p>

<p>
  <strong>Estado apertura:</strong>
  <%= @school.estado_apertura %>
</p>

<p>
  <strong>Fecha solicitud:</strong>
  <%= @school.fecha_solicitud %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @school.fecha_inicio %>
</p>

<p>
  <strong>Asistencia:</strong>
  <%= @school.asistencia %>
</p>

<p>
  <strong>Modo ingreso:</strong>
  <%= @school.modo_ingreso %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @school.comentarios %>
</p>

<p>
  <strong>Ok sostenedor:</strong>
  <%= @school.ok_sostenedor %>
</p>

<p>
  <strong>Propuesta retorno:</strong>
  <%= @school.propuesta_retorno %>
</p>

<p>
  <strong>Oficio salud:</strong>
  <%= @school.oficio_salud %>
</p>

<p>
  <strong>Respuesta salud:</strong>
  <%= @school.respuesta_salud %>
</p>

<p>
  <strong>Ok salud:</strong>
  <%= @school.ok_salud %>
</p>

<p>
  <strong>Rex:</strong>
  <%= @school.rex %>
</p>

<%= link_to 'Editar', edit_school_path(@school) %> |
<%= link_to 'Atrás', schools_path %>
